/* GLOBAL */

@font-face {
  font-family: "Roboto Flex", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(../images/unsplash_jD34AmVhESc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}

/* HEADER */
header {
  background-color: rgba(6, 39, 47, 1);
  padding: 15px;
}

header label img {
  position: relative;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

nav {
  position: absolute;
  background-color: rgba(186, 227, 240, 1);
  border-radius: 5px;
  max-width: 150px;
}

nav a {
  display: block;
  color: rgba(6, 39, 47, 1);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
}

nav a:visited {
  text-decoration: none;
}

.cart-img {
  float: right;
}

/* MAIN */

.aboutmain {
  margin-bottom: 50px;
}

.logodiamond {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 450px;
  margin: auto;
}

.logodiamond img,
.logodiamond a {
  margin: -10px auto 0px auto;
}

.index__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 15rem;
  margin: auto;
}

.cta,
.cta-small {
  background-color: rgba(6, 39, 47, 1);
  border: thin solid rgba(186, 227, 240, 1);
  border-radius: 5px;
  padding: 8px 0px;
  margin-bottom: 10px;
  text-align: center;
}

.cta,
.cta-small {
  color: rgba(186, 227, 240, 1);
  text-decoration: none;
  text-transform: uppercase;
}

.cta:hover,
.cta-small:hover {
  color: rgba(6, 39, 47, 1);
  background-color: rgba(186, 227, 240, 1);
}

.cta-small {
  margin-bottom: 150px;
}

.h1-background {
  background-color: rgba(64, 42, 17, 1);
  color: rgba(186, 227, 240, 1);
  min-width: auto;
  max-width: 690px;
  margin-top: -40px;
  margin-bottom: 40px;
  border-radius: 5px;
  text-transform: uppercase;
}

/* FOOTER */

.mountainlogo {
  width: 100%;
  margin: auto;
  margin-top: -63px;
}

.mountainlogo img {
  display: block;
  max-width: 400px;
  margin: auto;
}

.socialmedia {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 5px 5px;
  font-size: 0.7em;
  color: rgba(186, 227, 240, 1);
  text-transform: uppercase;
}

.socialmedia a {
  color: rgba(186, 227, 240, 1);
  text-decoration: none;
  font-size: 1em;
  padding: 0px;
}

.socialmedia p {
  margin-top: 0px;
  font-size: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(6, 39, 47, 1);
  background-position: bottom;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 80px;
  margin-top: auto;
  margin-bottom: 0px;
  border-top-style: outset;
  border-top-color: rgba(186, 227, 240, 1);
}

.copyright {
  color: rgba(186, 227, 240, 1);
  background-color: rgba(6, 39, 47, 1);
  margin-top: -10px;
  text-align: center;
  font-size: 0.7em;
}

/* HOME PAGE */

.active {
  text-decoration: underline;
}

/* CONTACT PAGE & ABOUT */

.contact {
  position: relative;
  background-color: rgba(64, 42, 17, 1);
  max-width: 600px;
  margin: -60px auto 80px auto;
  color: rgba(186, 227, 240, 1);
  border-radius: 5px;
  padding-bottom: 20px;
}

.contact h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}

.contact-text {
  max-width: 420px;
  font-size: 1em;
  margin: 10px auto;
  padding-bottom: 10px;
}

.contact-form {
  width: 260px;
  margin-bottom: 10px;
  font-size: 0.8em;
}

.contact-form label {
  margin-top: 10px;
}

#subject {
  width: 50%;
}

.contact-submit {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 0px 0px;
}

.contact-message {
  font-size: 0.8em;
  width: 260px;
}

#gohome,
.contact-submit input {
  padding: 5px 10px;
  color: rgba(186, 227, 240, 1);
  background-color: rgba(6, 39, 47, 1);
  border-radius: 5px;
  text-decoration: none;
  border: none;
  font-size: 1em;
  text-align: center;
  border-style: groove;
  border-color: rgba(186, 227, 240, 1);
  margin-bottom: 10px;
}

.contact-submit input {
  min-width: 53.625px;
  padding: 5px 10px;
}

/* PRODUCT PAGE */

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 100px;
  max-width: 650px;
  margin: 0px auto 100px auto;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(64, 42, 17, 1);
  height: 220px;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}

/* SIZE CHECKBOX SPAM */
#c1small:checked + #l1small {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(186, 227, 240, 1);
}

#c1medium:checked + #l1medium {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(186, 227, 240, 1);
}

#c1large:checked + #l1large {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(64, 42, 17, 1);
  background-image: url(../images/checked_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

#c2small:checked + #l2small {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(186, 227, 240, 1);
}

#c2medium:checked + #l2medium {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(186, 227, 240, 1);
}

#c2large:checked + #l2large {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(64, 42, 17, 1);
  background-image: url(../images/checked_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

#c3small:checked + #l3small {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(186, 227, 240, 1);
}

#c3medium:checked + #l3medium {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(186, 227, 240, 1);
}

#c3large:checked + #l3large {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(64, 42, 17, 1);
  background-image: url(../images/checked_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

#c4small:checked + #l4small {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(186, 227, 240, 1);
}

#c4medium:checked + #l4medium {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(186, 227, 240, 1);
}

#c4large:checked + #l4large {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(64, 42, 17, 1);
  background-image: url(../images/checked_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

#c5small:checked + #l5small {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(186, 227, 240, 1);
}

#c5medium:checked + #l5medium {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(186, 227, 240, 1);
}

#c5large:checked + #l5large {
  background-color: rgba(64, 42, 17, 1);
  border-color: rgba(163, 139, 130, 1);
  color: rgba(64, 42, 17, 1);
  background-image: url(../images/checked_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* END CHECKBOX SPAM */

.card__image {
  grid-column: 2;
  grid-row: 1;
  height: 150px;
  width: 120px;
  text-align: center;
  margin-top: 20px;
}

.card__image a {
  grid-column: 2;
  grid-row: 2;
  color: rgba(186, 227, 240, 1);
  font-size: 0.5rem;
  text-decoration: none;
}

.card__image a img {
  margin-bottom: -15px;
  position: relative;
}

.card__image a img:hover {
  opacity: 85%;
}

.sizeboxes {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
  margin-left: 10px;
  margin-bottom: 10px;
}

.sizeboxes input {
  display: none;
}

.labelbox {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 1em;
  height: 1.25em;
  font-size: 0.8rem;
  color: rgba(6, 39, 47, 1);
  padding: 0px 4px;
  cursor: pointer;
  background-color: rgba(163, 139, 130, 1);
  border-radius: 5px;
  border-style: outset;
  border-width: thin;
  border-color: rgba(6, 39, 47, 1);
}

.nameprice {
  grid-column: 2/4;
  grid-row: 1;
  align-self: start;
  font-size: 0.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: right;
  margin: 0px 10px;
  color: rgba(186, 227, 240, 1);
}
.nameprice h2 {
  font-size: 1.8em;
  margin-bottom: 0px;
}

.nameprice h3 {
  font-size: 2em;
  margin-top: 5px;
}

.product-cta {
  grid-column: 2/4;
  grid-row: 2;
  text-align: right;
  align-self: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.product-cta a {
  grid-column: 2;
  grid-row: 2;
  color: rgba(186, 227, 240, 1);
  font-size: 0.7rem;
  text-decoration: none;
  padding: 5px 10px;
  background-color: rgba(6, 39, 47, 1);
  border-radius: 5px;
  border-style: outset;
  border-width: thin;
  text-transform: uppercase;
  border-color: rgba(186, 227, 240, 1);
}

.product-cta a:hover {
  background-color: rgba(186, 227, 240, 1);
  color: rgba(6, 39, 47, 1);
}

.counter {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  align-self: center;
}

/* PRODUCT DETAIL PAGE */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px;
}

.wrapper > * {
  border-radius: 5px;
  max-width: 600px;
  margin: 0px auto;
  justify-content: center;
  align-content: center;
}

.detail__counter {
  justify-content: center;
  align-self: center;
}

.detail__counter img {
  width: 80px;
  height: 20px;
}

#detail__sizeboxes {
  display: block;
  justify-content: center;
  align-self: center;
}
#detail__sizeboxes label {
  margin: 0px 5px;
}

.jacket-detail {
  display: block;
  width: 100%;
  margin: -100px auto 60px auto;
  max-width: 275px;
  max-height: 356px;
}

.contact_detail {
  max-width: 690px;
  margin-bottom: 10px;
}

.detail__counter img {
  width: 80px;
  height: 20px;
  margin-top: 6px;
}

.detail__price p {
  font-size: 1.2rem;
}

.contact-text {
  padding: 5px;
  font-size: 1rem;
  font-weight: 100;
}

.contact_detail h2 {
  font-size: 1.5rem;
}

/* CONFIRMATION */

.cta__confirmation {
  font-size: 1em;
  text-transform: none;
  max-width: 200px;
  margin-top: 0px;
}

/* CHECKOUT */

#contact_checkout {
  margin-bottom: 100px;
}

.checkout {
  display: grid;
  grid-template-columns: 30px 0.5fr 1fr 0.5fr 30px;
  grid-template-rows: 30px 100px 100px 30px;
  color: black;
  background-color: rgba(186, 227, 240, 1);
}

.cart {
  grid-column: 2/5;
  grid-row: 1;
  justify-items: center;
  border-bottom: 2px solid black;
}

.cart p {
  margin-left: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product {
  grid-column: 2;
  grid-row: 2;
}

.product img {
  max-height: 80%;
  max-width: 80%;
  margin: auto;
}

.itemandprice {
  display: flex;
  justify-content: space-between;
  grid-column: 3/5;
  grid-row: 2/5;
}

#size {
  font-size: smaller;
  font-weight: lighter;
}

.shipping {
  display: flex;
  justify-content: space-between;
  grid-column: 3/5;
  grid-row: 2/5;
  margin-top: 20px;
}

.sumtext {
  display: flex;
  justify-content: space-between;
  grid-column: 2/5;
  grid-row: 4;
  align-self: center;
  border-top: 2px solid black;
  padding-bottom: 20px;
}

.sumtext p {
  font-weight: bold;
}

.trashcan {
  grid-column: 4;
  grid-row: 3;
  align-self: center;
  justify-self: end;
  padding: 10px 0px 10px 10px;
  margin-bottom: -30px;
}
/* CHECKOUT EMPTY */
.emptytext {
  grid-column: 3/5;
  grid-row: 2/3;
  align-self: end;
}

.emptytext p {
  font-style: italic;
  font-size: 0.9rem;
}

/* CHECKOUT FORM */
.checkoutform {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: auto;
  gap: 5px;
  padding: 10px;
}

.checkoutform input,
.checkoutform textarea {
  background-color: rgba(186, 227, 240, 1);
  color: rgba(6, 39, 47, 1);
  border: none;
  border-radius: 5px;
}

.checkoutform input::placeholder,
.checkoutform textarea::placeholder {
  color: rgba(6, 39, 47, 1);
  font-size: 0.6rem;
  font-style: italic;
}

.checkoutform__postal {
  max-width: 250px;
  display: flex;
  gap: 5px;
}

.checkoutform__creditcard {
  max-width: 250px;
  display: flex;
  gap: 5px;
}

/* 
The placeholder icon I struggled with. I came over info on stackoverflow which I used to inspire my own.
*/

#name {
  background-image: url(../images/user\ icon.png);
  background-repeat: no-repeat;
  text-indent: 30px;
  background-size: 12px 14px;
  background-position: 3px;
}

#email {
  background-image: url(../images/aspherix\ icon.png);
  background-repeat: no-repeat;
  text-indent: 30px;
  background-size: 14px 14px;
  background-position: 3px;
}

#address {
  background-image: url(../images/address\ icon.png);
  background-repeat: no-repeat;
  text-indent: 30px;
  background-size: 16px 13px;
  background-position: 3px;
}

#postal {
  background-image: url(../images/Location\ icon.png);
  background-repeat: no-repeat;
  text-indent: 30px;
  background-size: 13px 14px;
  background-position: 3px;
  width: 195px;
}

#zip {
  width: 55px;
  text-align: center;
}

#creditcard {
  background-image: url(../images/creditcard\ icon.png);
  background-repeat: no-repeat;
  text-indent: 30px;
  background-size: 16px 14px;
  background-position: 3px;
  width: 165px;
  max-width: 250px;
}

#expire {
  width: 35px;
  text-align: center;
  size-adjust: 0.1rem;
}

#cvv {
  width: 30px;
  text-align: center;
}

#subject {
  text-indent: 30px;
}

#message {
  text-indent: 30px;
}

#checkout__cta {
  color: rgba(186, 227, 240, 1);
  background-color: rgba(6, 39, 47, 1);
  border: thin solid;
  padding: 5px 0px;
}

#checkout__cta:hover,
#checkout__cta_back:hover {
  color: rgba(6, 39, 47, 1);
  background-color: rgba(186, 227, 240, 1);
}

#checkout__cta_back {
  display: flex;
  position: relative;
  color: rgba(186, 227, 240, 1);
  background-color: rgba(6, 39, 47, 1);
  border: thin solid;
  border-radius: 5px;
  padding: 1px 0px;
  margin: -125px auto 60px auto;
  justify-content: center;
  text-decoration: none;
  max-width: 100px;
  font-size: smaller;
}

/* MEDIA */

@media (max-width: 400px) {
  .logodiamond {
    max-width: 320px;
  }

  .logodiamond img,
  .logodiamond a {
    margin: auto;
    margin-top: -5px;
    max-width: 320px;
  }

  .contact {
    text-align: center;
  }

  #size {
    display: none;
  }
}

@media (min-width: 620px) {
  header #menu-checkbox,
  header label img {
    display: none;
  }

  nav {
    display: flex;
    justify-items: space-between;
    background-color: unset;
    border-radius: 5px;
    max-width: unset;
    margin: auto;
  }

  nav a {
    color: rgba(186, 227, 240, 1);
    text-decoration: none;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: -10px;
  }
}
